body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black', sans-serif;
    margin-top: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  