{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <h1 class="mb-4">Upcoming Courses</h1>
    {% if courses %}
      {% for course in courses %}
        <div class="row my-4">
          <div class="col-md-4">
            <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
          </div>
          <div class="col-md-8">
            <h2>{{ course.title }}</h2>
            <p><strong>Start Date:</strong> {{ course.start_date|date:"F d, Y" }}</p>
            <p>{{ course.description|safe }}</p>
            <div class="d-flex">
              <a href="{% url 'courses:course_detail' course.pk %}" class="btn btn-primary mr-3">Learn More</a>
              <a href="{% url 'courses:course_book' course.pk %}" class="btn btn-secondary">Book Now</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="card">
        <div class="card-body">
          <p>No upcoming courses.</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
